@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.bg-cover-full {
  background-image: url(/images/clothes.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.bg-shop {
  background-image: url(/images/woman.jpg);
  background-size: cover;
  background-position: 50% 25%;;
/*  background-attachment: fixed;*/
  width: 100%;
  height: 30rem;
}
.cart-font{
  font-size: 10px;
line-height: 14px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
}
